.container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    z-index: 1;
}

.container-dark {
    box-shadow: 0 0 10px 1px #C6C2B6;
}

.container-light {
    box-shadow: 0 0 10px 1px #23191E;
}

.logo {
    margin-left: 2rem;
    width: 30rem;
    grid-area: socialmedia;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo a {
    margin: 0 1rem;
}

/*for social media logos in SVG format... changes color of SVGs*/
.dark-mode-logo {
    filter: invert(86%) sepia(0%) saturate(4569%) hue-rotate(334deg) brightness(103%) contrast(68%);
}

.light-mode-logo {
    filter: invert(6%) sepia(8%) saturate(2127%) hue-rotate(278deg) brightness(99%) contrast(90%);
}

.logo img {
    width: 3rem;
    height: auto;
}

.logo img:hover {
    filter: invert(11%) sepia(52%) saturate(5821%) hue-rotate(348deg) brightness(92%) contrast(88%);
}

.resume-logo {
    text-decoration: none;
}

.resume-logo img {
    display: block;
}

.resume-logo button {
    display: none;
}

.navbar {
    display: none;
}

.navbar>li {
    list-style: none;
    padding: 0 2rem;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.navbar>li:hover {
    color: #8F1D21;
}

.switch {
    grid-area: lightdarkswitch;
    position: relative;
    width: 30rem;
    height: 3.4rem;
    margin-right: 2rem;
}

.switch input {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #C6C2B6;
    transition: .3s;
    border-radius: 3.4rem;
    width: 6rem;
    height: 3.4rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2.6rem;
    width: 2.6rem;
    left: 0.4rem;
    bottom: 0.4rem;
    background-color: #C6C2B6;
    box-shadow: inset 1rem -0.4rem 0 0 #23191E;
    transition: .3s;
    border-radius: 50%;
}

.slider-light {
    background-color: #2196F3;
}

.slider-light:before {
    transform: translateX(2.6rem);
    background-color: rgb(255, 208, 0);
    box-shadow: inset 1rem -0.4rem 0 0 rgb(255, 208, 0);
}

.active-section {
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: #8F1D21;
}

@media only screen and (min-width: 57em) {
    .resume-logo img {
        display: block;
    }

    .resume-logo button {
        display: none;
    }

    .navbar {
        grid-area: navlinks;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        font-weight: bold;
    }
}

@media only screen and (min-width: 76em) {
    .resume-logo img {
        display: none;
    }

    .resume-logo button {
        display: block;
        appearance: none;
        background-color: transparent;
        border-radius: 0.2em;
        padding: 0.2em 1em;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        transition: 0.3s cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
    }

    .resume-logo button:hover {
        background-color: rgb(143, 29, 33, 0.25);
        border: 0.2rem solid #8F1D21;
    }
}