<nav class="container" [ngClass]="isDarkMode ? 'dark-mode-bg container-dark' : 'light-mode-bg container-light'">
    <a href="../../assets/resumeEisakuImura.pdf" target="_blank" class="logo">
        <button type="button" [ngClass]="isDarkMode ? 'dark-mode-text dark-mode-button-border' : 'light-mode-text light-mode-button-border'">Resume</button>
    </a>

    <ul class="navbar" [ngClass]="isDarkMode ? 'dark-mode-text' : 'light-mode-text'">
        <li><a (click)="ScrollToSection('home')">Home</a></li>
        <li><a (click)="ScrollToSection('about')">About</a></li>
        <li><a (click)="ScrollToSection('projects')">Projects</a></li>
        <li><a (click)="ScrollToSection('contact')">Contact</a></li>
    </ul>

    <label class="switch">
        <input type="checkbox">
        <span (click)="ToggleDarkMode()" class="slider" [ngClass]="{'slider-light': !isDarkMode}"></span>
    </label>
</nav>