.container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    z-index: 1;
}

.container-dark {
    box-shadow: 0 0 10px 1px #C6C2B6;
}

.container-light {
    box-shadow: 0 0 10px 1px #23191E;
}

.logo {
    width: 6rem;
    margin-right: auto;
    margin-left: 2rem;
}

.logo button {
  appearance: none;
  background-color: transparent;
  border-radius: 0.5em;
  padding: 0.2em 1em;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.3s cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
}

.logo button:hover {
  background-color: rgb(39, 96, 141, 0.25);
  border: 0.1em solid #27608D;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    font-size: 2.5rem;
    font-weight: bold;
}

.navbar > li {
    list-style: none;
    padding: 0 2rem;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.navbar > li:hover {
    color: #8F1D21;
}

.switch {
    position: relative;
    width: 6rem;
    height: 3.4rem;
    margin-left: auto;
    margin-right: 2rem;
}

.switch input {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C6C2B6;
    transition: .3s;
    border-radius: 3.4rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2.6rem;
    width: 2.6rem;
    left: 0.4rem;
    bottom: 0.4rem;
    background-color: #C6C2B6;
    box-shadow: inset 1rem -0.4rem 0 0 #23191E;
    transition: .3s;
    border-radius: 50%;
}

.slider-light {
    background-color: #2196F3;
}

.slider-light:before {
    transform: translateX(2.6rem);
    background-color: rgb(255, 208, 0);
    box-shadow: inset 1rem -0.4rem 0 0 rgb(255, 208, 0);
}