.project-container {
    margin-top: -10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-button {
    appearance: none;
    background-color: transparent;
    border-radius: 0.2em;
    padding: 0.2em 1em;
    cursor: pointer;
    font-size: 3rem;
    font-weight: bold;
    transition: 0.5s cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    margin-top: 5rem;
}

.back-button:hover {
    background-color: rgb(143, 29, 33, 0.25);
    border: 0.2rem solid #8F1D21;
}

h1 {
    font-size: 5rem;
    margin-bottom: 1em;
}

.main-image {
    width: 40rem;
    height: 23rem;
    border-radius: 0.5rem;
}

.text-primary {
    font-size: 2rem;
    width: 70rem;
    margin-bottom: 2rem;
}

.text-secondary {
    font-size: 1.5rem;
    margin-left: 4rem;
    width: 50rem;
    line-height: 1.5em;
}

.project-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.project-gallery {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.project-gallery img {
    width: 40rem;
    height: 22rem;
}