.project-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "title"
    "mainText"
    "coverArt"
    "desc"
    "video"
    "link"
    "back";
    place-items: center;
    gap: 3rem;
}

.back-button {
    appearance: none;
    background-color: transparent;
    border-radius: 0.2em;
    padding: 0.2em 1em;
    cursor: pointer;
    font-size: 3rem;
    font-weight: bold;
    transition: 0.5s cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    grid-area: back;
}

.back-button:hover {
    background-color: rgb(143, 29, 33, 0.25);
    border: 0.2rem solid #8F1D21;
}

h1 {
    font-size: 5rem;
    grid-area: title;
}

.main-image {
    width: 40rem;
    height: 23rem;
    border-radius: 0.5rem;
    grid-area: coverArt;
}

.text-primary {
    font-size: 2rem;
    grid-area: mainText;
}

.text-secondary {
    font-size: 1.5rem;
    line-height: 1.5em;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-area: desc;
}

.project-link {
    font-size: 2rem;
    text-align: center;
    grid-area: link;
}

.project-link a {
    text-decoration: none;
    color: #467ca7;
}

iframe {
    width: 40rem;
    height: 26rem;
    grid-area: video;
}

@media only screen and (min-width: 76em) {
    iframe {
        width: 64rem;
        height: 36rem;
    }

    .project-container {
        grid-template-areas: 
        ". title title ."
        ". mainText mainText ."
        ". coverArt  desc ."
        ". video video ."
        ". link link ."
        ". back back .";
    }
}