<div class="project-container">
    <h1 [ngClass]="isDarkMode ? 'dark-mode-text' : 'light-mode-text'">Last of Us Part I</h1>
    <p class="text-primary" [ngClass]="isDarkMode ? 'dark-mode-text' : 'light-mode-text'">
        The Last of Us Part I is an AAA action-adventure game released in September 2022 for the Playstation 5. I was a R&D QA Programmer developing 
        software and tools to improve development and testing workflows.
    </p>
    <img src="../../../assets/images/projects/project-t1x.jpg" alt="lastofuspart1 image" class="main-image">
    <div class="project-description" [ngClass]="isDarkMode ? 'dark-mode-text' : 'light-mode-text'">
        <p class="text-secondary">
            I worked on many different applications by collaborating with developers of all backgrounds from different departments to solve
            inefficiencies in the workflow. I enhanced Jira functionality by developing Chrome extension tools, added debug features to the
            studio's proprietary game engine, and created internal webpages which display all performance stats/notes from an automated daily test.
        </p>
        <br>
        <p class="text-secondary">
            On top of developing tools, I investigated defects in the game, reported/logged issues with detailed reproduction steps including
            screenshots/videos using Jira, and thoroughly examined fixes to ensure a quality product.
        </p>
    </div>
    <iframe src="https://www.youtube.com/embed/R2Ebc_OFeug" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    <div class="project-link">
        <strong [ngClass]="isDarkMode ? 'dark-mode-text' : 'light-mode-text'">Link: </strong>
        <a href="https://direct.playstation.com/en-us/games/pages/the-last-of-us-part-1" target="_blank">https://direct.playstation.com/en-us/games/pages/the-last-of-us-part-1</a>
    </div>
    <button type="button" class="back-button" (click)="BackToProjectList()"
        [ngClass]="isDarkMode ? 'dark-mode-text dark-mode-button-border' : 'light-mode-text light-mode-button-border'">Back</button>
</div>