<section id="home" [ngClass]="isDarkMode ? 'dark-mode-bg dark-mode-text' : 'light-mode-bg light-mode-text'">
    <div class="main">
        <h1>Eisaku Imura</h1>
        <p class="job-title">R&D Programmer | Front-End Web Developer</p>
        <button type="button" (click)="ScrollToAboutSection()"
            [ngClass]="isDarkMode ? 'dark-mode-text dark-mode-button-border' : 'light-mode-text light-mode-button-border'">
            <p class="button-title">Explore</p>
            <img src="../../assets/images/logos/down-arrow.svg" class="button-arrow" [ngClass]="isDarkMode ? 'dark-button-arrow' : 'light-button-arrow'">
        </button>
    </div>
</section>