#home {
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "main";
}

.main {
    grid-area: main;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.main h1 {
    font-size: clamp(5rem, 1rem + 10vw ,7rem);
    color: #8F1D21;
    font-weight: bold;
    line-height: 0.8em;
    margin-bottom: 1rem;
}

.job-title {
    font-size: clamp(0.5rem, 1rem + 1vw ,2rem);
    font-weight: bold;
}

.main button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border-radius: 0.5rem;
    padding: 0.2em 2em;
    margin-top: 5em;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
}

.main button:hover {
    background-color: rgb(143, 29, 33, 0.25);
    border: 0.2rem solid #8F1D21;
}

.button-title,
.button-arrow {
    margin: 0 0.1em;
    font-size: 3rem;
}

.button-arrow {
    filter: invert(11%) sepia(52%) saturate(5821%) hue-rotate(348deg) brightness(92%) contrast(88%);
    width: 3rem;
    height: auto;
    animation: updown 2s ease infinite;
}

.main button:hover .dark-button-arrow {
    filter: invert(86%) sepia(0%) saturate(4569%) hue-rotate(334deg) brightness(103%) contrast(68%);
}

.main button:hover .light-button-arrow {
    filter: invert(6%) sepia(8%) saturate(2127%) hue-rotate(278deg) brightness(99%) contrast(90%);
}

@keyframes updown {
    0% {
        transform: translateY(5%);
    }

    50% {
        transform: translateY(15%);
    }

    100% {
        transform: translateY(5%);
    }
}

@media only screen and (min-width: 57em) {
    #home {
        grid-template-areas: 
        ". main .";
    }
}