#home {
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "main";
}

.main {
    grid-area: main;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.main h1 {
    font-size: clamp(5rem, 1rem + 10vw ,7rem);
    color: #8F1D21;
    font-weight: bold;
    line-height: 0.8em;
    margin: auto 0 1rem 0;
}

.job-title {
    font-size: clamp(0.5rem, 1rem + 1vw ,2rem);
    font-weight: bold;
}

.main button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    padding: 0.2em 2em;
    margin: auto 0 3rem 0;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
}

.button-arrow {
    margin: 0 0.1em;
    font-size: 3rem;
    width: clamp(3rem, 1rem + 5vw , 5rem);
    height: auto;
    animation: updown 2s ease infinite;
}

.main button:hover .button-arrow {
    filter: invert(11%) sepia(52%) saturate(5821%) hue-rotate(348deg) brightness(92%) contrast(88%);
}

.dark-button-arrow {
    filter: invert(86%) sepia(0%) saturate(4569%) hue-rotate(334deg) brightness(103%) contrast(68%);
}

.light-button-arrow {
    filter: invert(6%) sepia(8%) saturate(2127%) hue-rotate(278deg) brightness(99%) contrast(90%);
}

@keyframes updown {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0%);
    }
}

@media only screen and (min-width: 57em) {
    #home {
        grid-template-areas: 
        ". main .";
    }
}