* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    background-color: #23191E;
}

.light-mode-text {
    color: #23191E;
}

.dark-mode-text {
    color: #C6C2B6;
}

.light-mode-bg {
    background-color: #C6C2B6;
}

.dark-mode-bg {
    background-color: #23191E;
}

.light-mode-button-border {
    border: 0.2rem solid #23191E;
}

.dark-mode-button-border {
    border: 0.2rem solid #C6C2B6;
}